/*--------------------------------------------------------------------
         WHATSOCK AccDC
         TECHNICAL STYLE GUIDE
         2016-2020
-------------------------------------------------------------------- */
@import url("../../css/reset.css");
@import url("../../css/colors.css");
@import url("../../css/font-face.css");
@import url("../../css/typography.css");

/* --------------------------------------------------------------------------- */
/* ----------------------------- DEFAULT VALUES ------------------------------ */
/* --------------------------------------------------------------------------- */

/**********************************
  Laurence: Reduced the fonts of the 40 000 to a manageable amount :-)
*******************************************/

body {
  font: 100%/1 open_sansregular, Helvetica, Arial, sans-serif;
  background-color: var(--elementBlack);
}

h1 {
  text-transform: capitalize;
  color: var(--datepicker-lightGrey);
  padding: 80px 5% 0 5%;
  margin-bottom: 1em;
}

h1 strong {
  display: block;
  position: relative;
  font: normal 250% antonregular, Helvetica, Arial, sans-serif;
  color: var(--whatsock-red);
  line-height: 1.2;
}

p.dark--bg {
  color: var(--globalWhite);
  text-align: center;
}

/* --------------------------------------------------------------------------- */
/* -------------------------------- NAVIGATION ------------------------------- */
/* --------------------------------------------------------------------------- */

/*nav {
    text-align: center;
    max-width: 40em;
    padding: 0 5em;
    margin: 2em auto;
}

nav li {
  list-style-type: none;
}
nav button,
nav a,
nav a:visited {
  display: block;
  font: bold 1.2em/1 Frutiger, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: var(--globalWhite);
  background: var(--navLinkBackground);
  padding: 0.5em 0;
  border: none;
  border-top: 1px solid var(--datepicker-lightGrey);
}*/
nav.navigation--parent {
  text-align: center;
  max-width: 90em;
  margin: 1em auto;
}
nav {
  text-align: center;
  max-width: 90em;
  margin: auto;
  margin-bottom: 1em;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
nav li {
  list-style-type: none;
  font-size: 1rem;
  display: inline;
  height: 3em;
}

nav button:hover,
nav a:hover {
  background: var(--whatsock-red);
  text-decoration: none;
}
nav a:focus {
  background: var(--whatsock-red);
  text-decoration: none;
}
nav > ul > li > a[aria-current="true"] {
  color: var(--globalWhite);
  background: var(--whatsock-red);
}

nav > ul > li > a {
  line-height: 1.5;
  padding: 0.5em 1.2em;
  background: var(--navLinkBackground);
  color: var(--globalWhite);
  border-top: 2px solid var(--whatsock-orange-main);
  margin: 0 2px;
  text-decoration: none;
}
li.mobile--componentName {
  font-size: 0.65rem;
  margin-bottom: 0.4em;
}

@media (min-width: 384px) {
  li.mobile--componentName {
    font-size: 0.7rem;
    margin-bottom: 2px;
  }
}
@media (min-width: 460px) {
  li.mobile--componentName {
    font-size: 0.8rem;
    margin-bottom: 2px;
  }
}
@media (min-width: 525px) {
  li.mobile--componentName {
    font-size: 1rem;
    margin-bottom: 2px;
  }
}

li.extLong--dateName {
  font-size: 0.75rem;
  margin-bottom: 0.4em;
}

@media (min-width: 650px) {
  li.extLong--dateName {
    font-size: 1rem;
    margin-bottom: 2px;
  }
}

li.mobile--componentName.extlong {
  font-size: 0.55rem;
  margin-bottom: 2px;
}
@media (min-width: 506px) {
  li.mobile--componentName.extlong {
    font-size: 0.75rem;
    margin-bottom: 2px;
  }
}
@media (min-width: 535px) {
  li.mobile--componentName.extlong {
    font-size: 0.85rem;
    margin-bottom: 2px;
  }
}

/*Default*/
.logo {
  margin-top: 1em;
  text-align: center;
}
.logo img {
  width: 50%;
}
.logo a,
.logo a:visited {
  background: none;
  display: inline-block;
}
.logo a:hover {
  outline-offset: 1px;
  outline: -webkit-focus-ring-color auto 1px;
}
h1 {
  font-size: 1.5rem;
  padding: 0;
  text-align: center;
}
/* --------------------------------------------------------------------------- */
/* ----------------------------- LAYOUT (by Laurence) ------------------------------ */
/* --------------------------------------------------------------------------- */

.outer-wrapper {
  margin: auto;
}
.wrapper {
  max-width: 90em;
  position: relative;
}
main {
  padding: 1em 2em;
  padding-top: 2.5em;
}
.wrapper > * {
  margin-bottom: 10px;
}
@media (min-width: 87.5em) {
  .wrapper {
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  .wrapper main {
    flex: 1 0 auto;
    padding: 0;
    padding-bottom: 2em;
  }
}
/* --------------------------------------------------------------------------- */
/* ----------------------------- New section on components index ------------------------------ */
/* --------------------------------------------------------------------------- */
section.section--instructions {
  background: #fff;
  max-width: 90em;
  padding: 1em;
  border-radius: 0.5em;
}
.section--instructions ul {
  list-style-type: disc;
  margin-bottom: 1em;
}
.section--instructions ul li a {
  padding: 0.8em 1.2em;
}
/* --------------- 
FOOTER --------------- 
*/

footer.footer {
  color: var(--offWhite);
  border-top: 1px solid var(--offWhite);
  margin: 1rem 0 2rem;
  text-align: left;
  font-size: 1.2rem;
  height: auto;
  padding: 0.5em;
  padding-top: 1em;
  position: relative;
}
footer.footer .flex-container-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  padding: 1em;
}

footer.footer .flex-container-row .flex-item {
  flex: 1 0 100%;
}
footer.footer h2 {
  color: solid var(--offWhite);
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 700;
}
footer.footer p {
  color: #fff;
  font-size: 1rem;
  margin: 0 0 0.6em 0;
  line-height: 1.5;
}

footer.footer ul {
  list-style-type: disc;
  margin-left: 2em;
  margin-bottom: 1em;
}

footer.footer ul li {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0;
}
footer.footer li {
  margin-bottom: 0;
}
footer.footer a {
  color: #fff;
  text-decoration: underline;
}
footer.footer a:hover,
footer.footer a:focus {
  text-decoration: none;
}
@media (min-width: 70em) {
  footer.footer .flex-container-row .flex-item {
    flex: 1 0 0;
  }
  footer.footer .flex-container-row .flex-item:nth-child(2) h2 {
    margin-left: 10em;
  }
  footer.footer .flex-container-row .flex-item:nth-child(2) ul {
    margin-left: 12em;
  }
}
/***********************************
===================================
IE11 fallback
===================================
***********************************/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body {
    background-color: #2e3135;
  }
  h1 {
    color: #cccccc;
  }
  h1 strong {
    color: #c13836;
  }

  nav button,
  nav a,
  nav a:visited {
    color: #fff;
    background: #444a51;
    border-top: 1px solid #cccccc;
  }
  nav button:hover,
  nav a:hover {
    color: #fff;
    background: #c13836;
  }
  nav > ul > li > a[aria-current="true"] {
    color: #fff;
    background: #c13836;
  }
  p.copyright {
    font-size: 0.7em;
    text-transform: uppercase;
    color: #fff;
    background: transparent;
    margin-top: 1rem;
  }

  footer p:last-child {
    font-size: 0.7em;
    margin-top: 0.5em;
    color: #e0e0e0;
  }

  footer p:last-child a {
    color: #fff;
  }

  footer button {
    color: #fff;
  }
}
